In [6]:
import pandas as pd

# Load the Excel dataset
df = pd.read_excel(r'C:\Users\isai5\OneDrive\Documentos\Github\databases\Educacion_04.xlsx')
df.head()

,Entidad federativa,Total,Sin escolaridad,Preescolar,Primaria,Secundaria,Estudios técnicos o comerciales con primaria terminada,Estudios técnicos o comerciales con secundaria terminada,Preparatoria o bachillerato,Normal básica,Estudios técnicos o comerciales con preparatoria terminada,Licenciatura o equivalente,Posgrado,No especificado
0,Estados Unidos Mexicanos,119976584.0,7701507.0,6110435.0,33253208.0,29426059.0,354724.0,1244138.0,21149168.0,123608.0,1453857.0,16777488.0,2055605.0,326787.0
1,Aguascalientes,1352235.0,63957.0,72236.0,346807.0,361191.0,4705.0,14150.0,229410.0,1597.0,20758.0,207540.0,27203.0,2681.0
2,Baja California,3610844.0,180275.0,155091.0,872803.0,945609.0,12001.0,30223.0,773443.0,2847.0,37916.0,521809.0,63133.0,15694.0
3,Baja California Sur,758642.0,36121.0,38810.0,184093.0,182005.0,2653.0,8057.0,165452.0,762.0,9603.0,116667.0,11975.0,2444.0
4,Campeche,878528.0,68195.0,49037.0,233844.0,218926.0,1948.0,7641.0,143267.0,1182.0,9373.0,127182.0,16002.0,1931.0

In [7]:
df.describe()

,Total,Sin escolaridad,Preescolar,Primaria,Secundaria,Estudios técnicos o comerciales con primaria terminada,Estudios técnicos o comerciales con secundaria terminada,Preparatoria o bachillerato,Normal básica,Estudios técnicos o comerciales con preparatoria terminada,Licenciatura o equivalente,Posgrado,No especificado
count,3.300000e+01,3.300000e+01,3.300000e+01,3.300000e+01,3.300000e+01,33.000000,3.300000e+01,3.300000e+01,33.000000,3.300000e+01,3.300000e+01,3.300000e+01,33.000000
mean,7.271308e+06,4.667580e+05,3.703294e+05,2.015346e+06,1.783398e+06,21498.424242,7.540230e+04,1.281768e+06,7491.393939,8.811255e+04,1.016817e+06,1.245821e+05,19805.272727
std,2.046704e+07,1.314428e+06,1.040728e+06,5.668990e+06,5.021305e+06,60877.164154,2.145575e+05,3.618397e+06,21001.082171,2.494261e+05,2.871925e+06,3.537874e+05,55996.616716
min,6.998210e+05,3.612100e+04,3.438900e+04,1.840930e+05,1.697140e+05,1748.000000,7.641000e+03,1.223680e+05,754.000000,9.373000e+03,1.118080e+05,1.197500e+04,1450.000000
25%,1.752570e+06,1.005440e+05,9.246300e+04,4.850230e+05,4.853170e+05,3676.000000,1.180400e+04,3.412040e+05,1892.000000,1.824600e+04,2.533520e+05,2.729700e+04,4446.000000
50%,2.944897e+06,1.612590e+05,1.510330e+05,7.904710e+05,7.518240e+05,7381.000000,2.625700e+04,5.282190e+05,3639.000000,3.590200e+04,3.952650e+05,4.338700e+04,6858.000000
75%,5.181929e+06,3.854540e+05,2.767470e+05,1.562083e+06,1.039707e+06,13563.000000,3.996800e+04,7.734430e+05,5363.000000,4.896800e+04,5.439690e+05,7.103400e+04,12716.000000
max,1.199766e+08,7.701507e+06,6.110435e+06,3.325321e+07,2.942606e+07,354724.000000,1.244138e+06,2.114917e+07,123608.000000,1.453857e+06,1.677749e+07,2.055605e+06,326787.000000

In [8]:
df[df.apply(lambda row: row.astype(str).str.contains('Zacatecas', case=False).any(), axis=1)]

,Entidad federativa,Total,Sin escolaridad,Preescolar,Primaria,Secundaria,Estudios técnicos o comerciales con primaria terminada,Estudios técnicos o comerciales con secundaria terminada,Preparatoria o bachillerato,Normal básica,Estudios técnicos o comerciales con preparatoria terminada,Licenciatura o equivalente,Posgrado,No especificado
32,Zacatecas,1531847.0,86754.0,91857.0,477523.0,444866.0,3870.0,10874.0,208293.0,1581.0,12930.0,164956.0,25217.0,3126.0